<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86956911243-pmmhuud8cr6kps2ampage68eilfu2lln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86956911243-pmmhuud8cr6kps2ampage68eilfu2lln</string>
	<key>API_KEY</key>
	<string>AIzaSyBWydcYOF0b1K6_THd01VchWV-6YJcHwj0</string>
	<key>GCM_SENDER_ID</key>
	<string>86956911243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.nagasaka244.514.FirebaseAnonymousLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-anonymouslogin-d6a5b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-anonymouslogin-d6a5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86956911243:ios:f17ec2bf4d82dda24f828e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-anonymouslogin-d6a5b.firebaseio.com</string>
</dict>
</plist>